body {
	/* width: 100%;
	height: 100vh; */
	background-color: lightblue;
}

.hidden {
    display: none!important;
}

.container {
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
}

.plyr {
	border-radius: 5px;
	margin-bottom: 10px;
}

#player {
	/* min-width: 960px;
	min-height: 540px; */
}
.center {
	text-align: center;
}
button {
	margin: 2px auto;
}

.svg-actions-center {
	height: 16px;
	width: 16px;
}